# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules


gemologist/Library
gemologist/Temp

gemologist/*.csproj
gemologist/*.sln
gemologist/*.userprefs

# Mac App
gemologist/*.app

# linux App
gemologist/gemologist_Data
gemologist/*.x86
gemologist/*.x86_64

# misc
npm-debug.log
